.loanListTable{
    justify-content: center;
    align-items: center;
    margin: 5em;
    padding: 1em;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .42rem;
}

.loanListTable table{ 
    border: none;
    min-height: 100vh;
    border-collapse: collapse;
    width: 82vw;
    height: 90vh;
    margin: 3rem;
}

.tableBody{
    justify-content: center;
    align-items: center;
}


th {    
    padding: 0vh;
}

td {
    text-align: center;
}

.tableBody button{
    cursor: pointer;
    width: 35px;
    height: 35px;
    padding: 2.8px;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    border: 0;
    border-radius: 10%;
    font-size: 1em;
    margin: 0.2em;
    margin-bottom: 0;
}

.editLoanButton{
    background-color: #006b21;
}
.undoLoanButton{
    background-color: #ffbb2f;
}

.deleteLoanButton{
    background-color: #F42525;
}

.statusBase{
    
    padding: .4rem;
    border-radius: 2rem;
    color: aliceblue;
}

.statusFinalizado{
    color: #006b21;
}

.statusEmAndamento{
    color: #b30021;
}

.topListButtons{
    align-items: center;
    justify-content: right;
    height: 100%;
    display: flex;
}

.newItemButton{
    cursor: pointer;
    width: 40px;
    height: 100%;
    padding: 2.8px;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    background-color: #25c19c;
    border: 0;
    border-radius: 10%;
    font-size: 1.2em;
    margin: 0.2em;
    margin-bottom: 0;
}
.newItemButton:hover{
    color: black;
    background-color: white;
    box-shadow: 2px 2px 2px rgb(52, 52, 52);
}

.filterButton{
    cursor: pointer;
    width: 40px;
    height: 100%;
    padding: 5px;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    background-color: #2a8bf2;
    border: 0;
    border-radius: 10%;
    font-size: 1em;
    margin: 0.2em;
    margin-bottom: 0;
}
.filterButton:hover{
    color: black;
    background-color: white;
    box-shadow: 2px 2px 2px rgb(52, 52, 52);
}