.sidebar{
    background-color: #191919;
    position: fixed;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 300px;
}

.timesIcon{
    color: #FFFF;
    cursor: pointer;
    position: fixed;
    width: 30px;
    height: 30px;
    margin-top: 32px;
    margin-left: 32px;
}

.timesIcon:hover{
    color: #d3d3d3;
}

.container{
    margin-top: 80px;
    height: 100%;
    width: 100%;
}

.container ul{
    padding-inline-start: 0px;
}

.container li{
    list-style: none;
    margin-top: -18px;
    height: 100%;
    background-color: white;
    padding: 10px;
    
}

.container li:hover{
    color: #191919;
    background-color: #d3d3d3;
}

.container span{
    font-weight: bold;
    margin-left: 1em;
}

.container span:hover, .navlink li:active > {
    color: white;
}

.navlink{
    margin-top: 10px;
    cursor: pointer;
    padding: 10px;
    color: #191919;
}
