.items{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 1em;
    padding: 1em;

}
.topListBar{
    display: flex;
    justify-content: first baseline;
    padding: 0.5em 2em;
    margin: 1em 4em 0 4em;
}
.equipmentBox{
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgb(52, 52, 52);
    outline: none;
    padding: 20px 10px;
    background-color: white;
}
.equipmentBox:hover{
    box-shadow: 4px 4px 4px rgb(52, 52, 52);
}
.equipmentBox h2{
    font-family: "Roboto", sans-serif;
    color: #484848;
}
.newItemButton{
    cursor: pointer;
    width: 40px;
    height: 100%;
    padding: 2.8px;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    background-color: #25c19c;
    border: 0;
    border-radius: 10%;
    font-size: 1.2em;
    margin: 0.2em;
    margin-bottom: 0;
}
.newItemButton:hover{
    color: black;
    background-color: white;
    box-shadow: 2px 2px 2px rgb(52, 52, 52);
}

.filterButton{
    cursor: pointer;
    width: 40px;
    height: 100%;
    padding: 5px;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    background-color: #2a8bf2;
    border: 0;
    border-radius: 10%;
    font-size: 1em;
    margin: 0.2em;
    margin-bottom: 0;
}
.filterButton:hover{
    color: black;
    background-color: white;
    box-shadow: 2px 2px 2px rgb(52, 52, 52);
}
.searchBarContainer{
    width: 100%;
}
.searchBar{
    border: 0px;
    border-bottom: 1px solid #484848;;
    margin: 0px;
    color: #484848;
    background-color: #f6fcff;
    outline: 0;
    height: 100%;
    width: 100%;
}
.searchBar:hover{
    box-shadow: 0px 0.2px 0.5px rgb(52, 52, 52);
}
.topListButtons{
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
}
.itemButtonContainer{
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
}

.loanItemButton{
    cursor: pointer;
    width: 30px;
    height: 100%;
    padding: 2.8px;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    background-color: #077920;
    border: 0;
    border-radius: 10%;
    font-size: 1em;
    margin: 0.2em;
    margin-bottom: 0;
}

.deleteItemButton{
    cursor: pointer;
    width: 35px;
    height: 100%;
    padding: 2.8px;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    background-color: #F42525;
    border: 0;
    border-radius: 10%;
    font-size: 1em;
    margin: 0.2em;
    margin-bottom: 0;
}

.undoLoanItemButton{
    cursor: pointer;
    width: 30px;
    height: 100%;
    padding: 2.8px;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    background-color: #ffbb2f;
    border: 0;
    border-radius: 10%;
    font-size: 1em;
    margin: 0.2em;
    margin-bottom: 0;
}