.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .Modal {
    display: flex;
    flex-direction: column;
    background: white;
    padding: none;
    border-radius: 8px;
    max-width: 700px;
    width: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    max-height: 80vh;
  }

  .modalHeader {
    display: flex;
    justify-content: flex-end;
  }
  
  
  .content {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    flex: 1;
  }

.timesIcon{
    color: #000000;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    margin-top: 3px;
    margin-left: 3px;
}