.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.userMenu{
    position: absolute;
    top: 3.5rem;
    right: 2rem;
    width: 150px;
    padding: 0;
    background-color: white;
    border: 0.2px solid gray;
    backdrop-filter: blur(8px);
    box-shadow: 0 .2rem .4rem #0005;
  }

  .userMenu::after{
    content: '';
    position: absolute;
    top: -0.2rem;
    right: 4.5rem;
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    
  }

  .userMenuList{
    margin: 0;
    padding-left: 0;
  }


  .userMenuLink{
    margin-top: 5px;
    cursor: pointer;
    color: #036;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .userMenuLink span{
    margin-right: 5px;
  }

  .userMenuLink:hover{
    margin-top: 2px;
    padding: 3px;
    cursor: pointer;
    color: white;
    background-color: #036;
  }

  .userMenuLinkLogout{
    margin-top: 5px;
    cursor: pointer;
    color: #b30021;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .userMenuLinkLogout span{
    margin-right: 5px;
  }

  .userMenuLinkLogout:hover{
    margin-top: 2px;
    padding: 3px;
    cursor: pointer;
    color: white;
    background-color: #b30021;
  }


  .menuIcons{
    width: 25px;
    height: 25px;
  }