.generateLabelsContainer{
    background-color: #ffffff;
    color: #363636;
    padding: 1em 2em;
    max-width: 100%;
    min-height: 30vh;
    /*margin: 2em auto;*/
    display: grid;
    align-items: center;
    justify-content: center;
}

.brand{
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}

.addEquipmentContainer a{
    text-align: center;
}

.generateLabelsContainer h2{
    text-align: center;
    font-size: 2.1em;
    margin-top: 0;
    margin-bottom: 0;
}

.generateLabelsContainer form{
    display: grid;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5em;
}

.inputBox{
    position: relative;
    display: inline;
    max-width: 60vh;
    height: 40px;
    margin: 5px 0;
}

.inputBox input[type="number"], input[type="text"]{
    margin: 0 0 0.5em 0;
    width: 98%;
    height: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    font-size: 16px;
}
.checkBoxContainer{
    display: flex;
    align-items: center;
    justify-content: left;
}
.generateLabelBtn{
    background-color: #077920;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
    max-width: 60vh;
    margin: 10px 0;
}