.finishLoanContainer{
    padding: 1rem 3rem 1rem;
}

.inputBox{
    display: grid;
    width: 20vh;
    height: 30px;
    margin: 10px 0;
}


.ConfirmBtn{
    background-color: #077920;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
    width: 30%;
    margin: 10px 0;
}
