html, body{
  background-color: #f6fcff;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

#login-page{
  background-color: #036;
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

a, 
nav button{
  text-decoration: none;
  background-color: transparent;
  border: none;
  
}

li{
  list-style-type: none;
}