.addLoanContainer{
    background-color: #ffffff;
    color: #363636;
    padding: 1em 2em;
    max-width: 100%;
    min-height: 30vh;
    /*margin: 2em auto;*/
    display: grid;
    align-items: center;
    justify-content: center;

}

.addLoanContainer a{
    text-align: center;
}

.addLoanContainer h2,
.addLoanContainer h2{
    text-align: center;
    font-size: 2.1em;
    margin-top: 0;
    margin-bottom: 0;
}

.addLoanContainer form,
.addLoanContainer form{
    display: grid;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5em;
}

.addLoanTitle{
    align-items: start;
}

.inputBox{
    position: relative;
    display: inline;
    width: 60vh;
    height: 40px;
    margin: 5px 0;
}

.inputBox input, select{
    margin: 0 0 0.5em 0;
    width: 98%;
    height: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    font-size: 16px;
}

.AddLoanBtn{
    background-color: #077920;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
    width: 60vh;
    margin: 10px 0;
}

.brand{
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}

.loadMoreBtn{
    width: 100%;
    padding: 8px;
    text-align: center;
    border: none;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}